
p{
  font-family: 'HelloKetta';
  font-size:30px;
}
ion-title{
  font-family: 'PlusJakarta-bold', cursive;
  font-size: 16px;
}
ion-card{
  margin-top: 10%;
  font-family: 'Gilroy', cursive;

}
ion-button{
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  font-family: 'Gilroy-bold', cursive;

}
ion-card-subtitle{
  font-family: 'Gilroy-bold';

}
ion-select-option{
  font-family: 'Gilroy';

}
ion-item{
  font-family: 'PlusJakarta-bold', cursive;
  font-size: 10px;
}

