<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="drugstore-home-page">Back</ion-back-button>
    </ion-buttons>
    <ion-title>drugstore-prescriptions-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let prescription of this.prescriptions" (click)="change_status(prescription)">
    <ion-card-header>
      <ion-card-subtitle>Patient:
        <ion-item>
          {{prescription.patient.user.fname}} {{prescription.patient.user.lname}}
        </ion-item>

      </ion-card-subtitle>
      <ion-card-subtitle>Date:
        <ion-item>
          <ion-datetime disabled  value="{{prescription.created_at}}" display-timezone="utc"></ion-datetime>
        </ion-item>

      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>Text:</ion-card-subtitle>
      <p>
        {{prescription.text}}
      </p>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle >Status:</ion-card-subtitle>
      <p style="font-family: 'Gilroy-bold';font-size: 14px;">
        {{prescription.status}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
