<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user-home-page">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Doctors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>



  <div class="div_margin" >

    <div class ="item" (click)="allDoctorsClicked()">
      <h1 class="item-title">Show All Doctors</h1>

    </div>


    <div class ="item" (click)="myDoctorsClicked()">
      <h1 class="item-title">Show My Doctors
      </h1>
    </div>


  </div>



</ion-content>
