
<ion-content>

  <img src="/assets/login.png" alt="">
  <h1>Login Now</h1>
  <p>Please enter the details below to continue.</p>

  <div style="text-align:center;">


    <form action="">
      <ion-input type="text" placeholder="National ID Number"></ion-input>
      <!-- Put Eye icon for seeing password -->
      <ion-input type="password" placeholder="Password"></ion-input>
    </form>
    <a style="text-align: right;" id="forget">forget password?</a>
    <ion-button expand="block" shape='round' clearInput >Login</ion-button>


  </div>

  <p>Don't have an account?<a>Register</a></p>
</ion-content>
