h1,h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  text-align: center;
  font-weight: 100;
}
p{
  color: #868686dc;
  font-family: 'Open Sans', sans-serif;
  margin-top: 25px;
  text-align: center;

}
img{
  height: 300px;
  text-align: center;
  margin: 15% 15% 0 20%;
}

