h1,h2{
  font-family: "PlusJakarta-bold";
  font-size: 30px;
  text-align: center;
  font-weight: 100;
}
p{
  color: #868686dc;
  font-family: 'QanelasUltraLight';
  margin-top: 25px;
  text-align: center;

}
img{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 15%;
}

ion-input{
  font-family: "QanelasUltraLight";
  background-color: #F1F1F1;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  margin-top: 5px;
  --padding-start: 10px;

}
ion-button{
  font-family: "PlusJakarta-bold";
  position: relative;
  margin-left: 25%;
  width: 50%;
	height: 50px;
  margin-right: 25%;
  margin-top: 10%;

}
#forget{
  margin-left: 50%;

}
a{
  font-family: "PlusJakarta";

}
ion-intl-tel-input{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;

}
span{
  color: #ca2525dc;
  font-family: 'QanelasUltraLight';
  margin-top: 15px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  white-space:nowrap;
}
