<ion-header>
  <ion-toolbar>
    <ion-title>Personal Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inputs_devision">
    <ion-title class="Quest">Please complete your personal information.</ion-title>
<ion-item>
    <ion-label position='floating' style="font-family:QanelasUltraLight;
    font-weight:700px;">
      <ion-icon name="person"></ion-icon>
      First and Last Name</ion-label>
    <ion-input type="text" placeholder="John Hopkins"></ion-input>
</ion-item>
<ion-item>
  <ion-label position='floating' style="font-family:QanelasUltraLight;
  font-weight:700px;">
    <ion-icon name="library"></ion-icon>
    Your Proficiency:</ion-label>
  <ion-input type="text" placeholder="Radiologist"></ion-input>
</ion-item>

<ion-item>
  <ion-label position='floating' style="font-family:QanelasUltraLight;
  ">
    <ion-icon name="library"></ion-icon>
    Upload Your CV</ion-label>
  <ion-input type="file" placeholder="Radiologist"></ion-input>
</ion-item>
<ion-item>
  <ion-label position='floating' style="font-family:QanelasUltraLight;
  font-size:15px;">
    <ion-icon name="ribbon"></ion-icon>
    Upload your Certification:</ion-label>
  <ion-input type="file" placeholder="Radiologist"></ion-input>
</ion-item>
<div class="accept_terms">
  <ion-checkbox color="primary"></ion-checkbox>
  <p>I agree to the terms of service</p>

</div>

<div style="margin-top: 10%;">
  <ion-button >
    Upload
  </ion-button>
</div>

  </div>


</ion-content>
