h1{
  font-family: "PlusJakarta-bold";
  font-size: 15px;
  font-weight: 100;
}
p{
  font-family: "PlusJakarta";

}
ion-button{
  font-family: "PlusJakarta-bold";
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 12px;
}
ion-label{
  font-family: "PlusJakarta";
  font-size: 13px;
}
ion-card-title{
  font-family: "PlusJakarta-bold";
  font-size: 17px;

}
