h1{
  margin-top: 10%;
  font-family: "PlusJakarta-bold";
  margin-left: 5%;
  font-size: 30px;
}
h2{
  font-family: "PlusJakarta-bold";
  margin-top: 30px;
  margin-left: 5%;
}
p{
  font-family: "PlusJakarta-bold";
  margin-top: 15px;
  margin-left: 5%;
}
ion-select{
  font-family: "PlusJakarta-bold";
  width: 40%;
  margin-left: 10%;
  margin-right: 30%;
}

ion-button{
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  font-family: "PlusJakarta-bold";
}
