
    <ion-header>
      <ion-toolbar>
        <ion-title>Habco</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-vimeo"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
        <div class='welcome-border'>

          <h2>Welcome ,you are logged in as <h1>Admin</h1> </h2>
        </div>


  <div class="flex-container" >

    <div class ="item" (click)="doctors_clicked()">
      <div class="image">
        <img src="/assets/Doctor-user-homepage.png" alt="">

      </div>
      <h1 class="item-title">Doctors</h1>

    </div>


    <div class ="item">
      <div class="image">
        <img src="/assets/nurse.png" alt="" (click)="nurses_clicked()">
      </div>
      <h1 class="item-title">Nurses
      </h1>
    </div>
    <div class ="item" (click)="drugstores_clicked()">
      <div class="image" >
        <img src="/assets/Drugstore.png" alt="">
      </div>
      <h1 class="item-title">Drug Stores
      </h1>
    </div>
  </div>


</ion-content>
