
<ion-content>

  <ion-slides mode="md" pager="true"  *ngIf="viewEntered" [options]="sliderOpts"  #slider>


    <ion-slide>
      <div class="center" style="clear:both;display: block; width: 100%;">
        <div style="text-align: center;">
      <table style="width: 100%;">

        <tr>
          <td>
            <div style="text-align: center;">
            <img class="slider-image" src="/assets/Welcome-Page-Slider-1.png" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="green">
            <div style="text-align: center; margin-top: 10%;">
            <h2>     What is the Habco?</h2>
            <p><b>Habco</b> is an application for improving social healthcare</p>
            </div>
          </td>
        </tr>

      </table>
        </div>
    </div>
    </ion-slide>


    <ion-slide>
      <div class="center" style="clear:both;display: block; width: 100%;">
        <div style="text-align: center;">
      <table style="width: 100%;">

        <tr>
          <td>
            <div style="text-align: center;">
            <img class="slider-image" src="/assets/Welcome-Page-Slider-2.png" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="green">
            <div style="text-align: center; margin-top: 10%;">
            <h2>What does habco do?</h2>
            <p><b>Habco</b> connects doctors, nurses and drug Stores for <b>you.</b></p>
            </div>
          </td>
        </tr>

      </table>
        </div>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="center" style="clear:both;display: block; width: 100%;">
        <div style="text-align: center;">
      <table style="width: 100%;">

        <tr>
          <td>
            <div style="text-align: center;">
            <img class="slider-image" src="/assets/welcome-3.png" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="green">
            <div style="text-align: center; margin-top: 10%;">
            <h2>Why should I use Habco?</h2>
            <p><b>Habco</b> respects your time.</p>
            </div>
          </td>
        </tr>

      </table>
        </div>
    </div>
    </ion-slide>

  </ion-slides>






  <ion-button shape="round" expand="block" fill="solid" routerLink="../register" >
    Get Started
  </ion-button>
<!--
  <div class="footer">
    <p>Already have account? <a (click)="clickLoginButton()">Login</a></p>
  </div> -->













</ion-content>
