
<ion-content>

  <ion-slides color='primary'>

    <ion-slide>
      <div class="slide">
      <img src="/assets/welcome-1.png" alt="">
          <h2>What is the Habco?</h2>
      <p><b>Habco</b> is an application for improving social healthcare.</p> </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
      <img src="/assets/welcome-2.png" alt="">
          <h2>What the Habco?</h2>
      <p><b>Habco</b> is an application for improving social healthcare.</p> </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
      <img src="/assets/welcome-3.png" alt="">
          <h2>What is the Habco?</h2>
      <p><b>Habco</b> is an application for improving social healthcare.</p> </div>
    </ion-slide>


  </ion-slides>





  <ion-button shape="round" expand="block" fill="solid" routerLink="../register" >
    Get Started
  </ion-button>

  <div class="footer">
    <p>Already have account? <a routerLink="login">Login</a></p>
  </div>













</ion-content>
