
.heading{
  text-align: center;


}
h1,h2{
  font-family: 'PlusJakarta-bold', cursive;
  font-size: 35px;
}
p{
  color: #868686dc;
  font-family: 'QanelasUltraLight';
  margin-top: 25px;
}


ion-button{
  font-family: "PlusJakarta-bold";
  position: relative;
  margin-left: 30%;
  width: 40%;
	height: 50px;
  margin-right: 30%;
}
p{
  margin: 0 10% 0 10%;
}
.footer{
  margin:5px 0 0 0;
  text-align: center;
}
ion-slides {
  margin-top: 10%;
  --bullet-background: red;
  --bullet-background-active: rebeccapurple;
  height: 60%;
margin-bottom: 10%;
display: flex;}

  img{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
