h1{
  margin-top: 10%;
  font-family: "PlusJakarta-bold";
  margin-left: 5%;
  font-size: 30px;
}
h2{
  font-family: "PlusJakarta-bold";
  margin-top: 30px;
  margin-left: 5%;
}
p{
  font-family: "PlusJakarta-bold";
  margin-top: 15px;
  margin-left: 5%;
}
ion-select{
  font-family: "PlusJakarta-bold";
  width: 40%;
  margin-left: 10%;
  margin-right: 30%;
}

ion-button{
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  font-family: "PlusJakarta-bold";
  margin-top: 10%;
}
ion-input{
  font-family: "QanelasUltraLight";
  background-color: #F1F1F1;
  margin-left: 12%;
  margin-right: 12%;
  width: 76%;
  border-radius: 20px;
  margin-top: 5px;
  --padding-start: 10px;
}
ion-textArea{
  font-family: "QanelasUltraLight";
  background-color: #F1F1F1;
  margin-left: 12%;
  margin-right: 12%;
  width: 76%;
  border-radius: 20px;
  margin-top: 5px;
  --padding-start: 10px;
}

