<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user-home-page">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Edit Information</ion-title>
  </ion-toolbar>
<ion-progress-bar type="indeterminate" reversed="true" value='35' bufferValue='0.5'></ion-progress-bar>

</ion-header>

<ion-content>

    <div class="title">
      <h1>
        Personal profile
      </h1>

    </div>
    <div>
      <p>Enter your first name</p>
      <ion-input type="text" placeholder="Darya" #firstName></ion-input>
    </div>
    <div>
      <p>Enter your last name</p>
      <ion-input type="text" placeholder="Zare" #lastName></ion-input>
    </div>
    <div>
      <p>Enter your Address:</p>
      <ion-textarea type="text" placeholder="Tehran, Heravi square..." #address></ion-textarea>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>Please Specify your gender:</p>
      <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="this.gender">
        <ion-segment-button value="Female">
          <ion-label>Female</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Male">
          <ion-label>Male</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div>
      <p>How Old Are You?</p>
      <ion-select placeholder="25" [(ngModel)]="this.age">
        <ion-select-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139]">{{number}}</ion-select-option>
    </ion-select>
    </div>



    <form #userdata = "ngForm" (ngSubmit) = "onClickSubmit()" >
    <div style="background-color: #FAFAFA;">
      <p><br>1.have you gotten covid 19?</p>
      <ion-segment #covidHistory (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="covidRecord">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>2.Did you have respiratory disease?</p>
      <ion-segment (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="respiratory">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>3.Did you have infectious disease?</p>
      <ion-segment (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="infectious">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>3.Did you have cardiovascular disease?</p>
      <ion-segment (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="cardiovascular">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>4.Did you have cancer before?</p>
      <ion-segment (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="cancer">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>5.Did you have immunological disease?</p>
      <ion-segment (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="immunological">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>6.Did you have Diabetes before?</p>
      <ion-segment (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="diabetes">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>7.Are you a member of the medical staff?</p>
      <ion-segment (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="medical">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>8.Have you ever lived in a high-risk infectious area? </p>
      <ion-segment (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="infectiousArea">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="background-color: #FAFAFA;">
      <p>9.Do you have a pet?</p>
      <ion-segment (ionChange)="segmentChanged($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="pet">
        <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="No">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <ion-button expand="block" shape='round' clearInput type ="submit" value = "submit">Submit/Edit</ion-button>

    </form>

</ion-content>
