<ion-header>
  <ion-toolbar>
    <ion-title>Habco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class='welcome-border-habco'>
    <div class="qr-code">
      <qr-code  value={{this.habco_id}}></qr-code>
    </div>
    <h1 class='habco_id'>HABCO code</h1>
  </div>
  <div class='welcome-border'>

    <h1>Your Habco ID:</h1>
    <h1>{{this.habco_id}}</h1>
  </div>
  <div class='profile-status' (click)="edit_button_clicked()">
    <h1 class="profile-status-messsage">Your profile status:
      <div class="incomplete" *ngIf="!profile_is_complete">
        <div style="text-align: left;font-size:13px;margin-top:10px">
          <b style="color: rgb(199, 40, 40);">Incomplete</b>

        </div>
        <div style="text-align: center; margin-right:7%;">

        <h2 style="text-align: center;font-size:12px;">Click here to complete your profile</h2>
        </div>
      </div>
      <div class="complete" *ngIf="profile_is_complete">
        <div style="text-align: left;font-size:13px;margin-top:10px">
          <ion-icon slot="end" name="checkmark-circle" style="color: green;margin-right:4px;"></ion-icon>
          <b style="color: rgb(14, 165, 64);">Completed</b>

        </div>
        <div style="text-align: center;margin-right:8%;">
          <h2 style="text-align: center;font-size:12px;">Click <a>here</a> to change your profile</h2>

        </div>

      </div>
    </h1>

  </div>

  <div class="flex-container" >

    <div class ="item" (click)="doctors_clicked()">
      <div class="image">
        <img src="/assets/Doctor-user-homepage.png" alt="">

      </div>
      <h1 class="item-title">Doctors</h1>

    </div>


    <div class ="item">
      <div class="image">
        <img src="/assets/Prescription.png" (click)="prescription_clicked()">

      </div>
      <h1 class="item-title">Prescriptions
      </h1>
    </div>
    <div class ="item">
      <div class="image">
        <img src="/assets/nurse.png" alt="" (click)="nurses_clicked()">
      </div>
      <h1 class="item-title">Nurses
      </h1>
    </div>
    <div class ="item" (click)="drugstores_clicked()">
      <div class="image" >
        <img src="/assets/Drugstore.png" alt="">
      </div>
      <h1 class="item-title">Drug Stores
      </h1>
    </div>
  </div>


</ion-content>
