

<ion-content>


  <div class="top-section">
    <div class="habco-id">
      <qr-code value="this.authService.habcoCode"></qr-code>
      <h1>Habco ID:</h1>
      <div class="ID" #container>
        <h1 style="margin-bottom: 7%;">{{this.authService.habcoCode}}</h1>
      </div>
    </div>


  </div>
  <div class="middle-section">
    <div id="middle-section-title"><p style="font-family: PlusJakarta-bold;">Profile informations</p>
    <ion-button shape="round" fill="outline"  (click)="editInformations()" ><ion-icon name="create"></ion-icon></ion-button></div>
    <p>1. Covid History: {{this.covid}}</p>
    <p>2. Respiratory Disease History: {{this.respiratory}}</p>
    <p>3. Infectious Disease History: {{this.infectional}}</p>
    <p>4. Cardiovascular Disease History: {{this.cardio}}</p>
    <p>5. Cancer Record : {{this.cancer}}</p>
    <p>6. Immunological Disease History: {{this.imuloical}}</p>
    <p>7. Diabetes History: {{this.diabetes}}</p>
    <p>8. Medical Stuff History: {{this.staff}}</p>
    <p>9. Being in InfectiousArea: {{this.infectionalArea}}</p>
    <p>10. Having Pet: {{this.pet}}</p>

  </div>









  <!-- <div class="bottom-section">

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </div> -->

</ion-content>
