

<ion-content>


  <div class="top-section">
    <div class="habco-id">
      <qr-code value="Salam"></qr-code>
      <h1>Hebco ID:</h1>
      <div class="ID" #container>
        <h1 style="margin-top: 10px;">5881</h1>
      </div>
    </div>


  </div>
  <div class="middle-section">
    <div id="middle-section-title"><p style="font-family: PlusJakarta-bold;">Profile informations</p>
    <ion-button shape="round" fill="outline"><ion-icon name="create"></ion-icon></ion-button></div>
  </div>
  <div class="bottom-section">

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </div>

</ion-content>
