  <ion-content>
    <h1>Join us Today</h1>
    <p>Please enter the details below to continue.</p>
    <!-- phoneNumber?: number;
    email?: string;
    password?: string;
    id?: number;
    accessToken?: string; -->
    <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit()" >

      <div class="flex-container" #type>
        <div [class.active]="step==='doctor'" (click)="doctorClicked()">
          <img class="type" src="/assets/Doctor-Register.png" alt="">
          <p style="font-size: 13px;display: inline"><b>Doctor</b></p>
        </div>

        <div [class.active]="step==='nurse'" (click)="nurseClicked()"> <img class="type" src="/assets/Nurse-Register.png" alt="">
          <p style="font-size: 13px;display: inline"><b>Nurse</b></p>

        </div>
        <div [class.active]="step==='pharmacist'" (click)="drugStoreClicked()"><div > <img class="type" src="/assets/Drugstore-Register.png" alt=""></div>
        <p style="font-size: 14px;display: inline"><b>Pharmacist</b></p>
      </div>
      <div [class.active]="step==='patient'" (click)="userClicked()" ><div> <img class="patient"  src="/assets/Normal-user-Register.png" alt=""></div>
      <p style="font-size: 14px;display: inline"><b>Patient</b></p>
    </div>
      </div>
      <ion-intl-tel-input defaultCountryiso="ca" #phone inputPlaceholder="2124567890"></ion-intl-tel-input>
      <!-- Put Eye icon for seeing password -->
      <ion-input on-keyup="checkEmail()" #email type="email" class="input" placeholder="Email" ></ion-input>
      <span [hidden]="emailSpan">Incorrect format for Email</span>
      <ion-button expand="block" shape='round' clearInput type ="submit" value = "submit">Register</ion-button>
    </form>
    <p>Have an account?<a (click)="clickLoginButton()">Login</a></p>

  </ion-content>
