
<ion-content>
  <img src="/assets/register.png" alt="">
  <h1>Join us :) </h1>
  <p>Please enter the details below to continue.</p>


  <form action="">
    <ion-input type="text" placeholder="National ID Number"></ion-input>
    <!-- Put Eye icon for seeing password -->
    <ion-input type="password" placeholder="Password"></ion-input>
    <ion-input type="phonenumber" placeholder="Phone Number"></ion-input>
    <ion-input class="input" ng-model="countryCode" placeholder="Country Code"></ion-input>
    <ion-input class="input" ng-model="mobileNumber" placeholder="Mobile Number"></ion-input>

    <a>forget password?</a>
    <ion-button>Register</ion-button>
  </form>
  <p>Don't have an account?<a>Register</a></p>
</ion-content>
